
@font-face {
    font-family: 'Get Schwifty';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
  }
.nav {
    display: flex;
    justify-content: space-around;
    
    padding: 100px;
    text-transform: uppercase;
    &__item{
    
        margin: 20px;
    }
}


ul {
    display: flex;
    justify-content: space-around;
    width: 80%;
    font-family: 'Get Schwifty';
    list-style: none;
    font-size: 40px;
    background-color: chartreuse;
    border-radius: 40px;
    
}

a {
    
    text-decoration: none;
    color:rgb(10, 8, 8);
    border-radius: 40px;
}

a:hover {
    background-color: rgba(0, 255, 255, 0.63);
    border-radius: 60px;
    
  }


.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    
}


@media only screen and (max-width: 800px) {


    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        padding: 10px;
    }
}
